{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "import/prefer-default-export": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "import/no-named-as-default-member": [0],
    "import/no-named-as-default": [0],
    "default-case": [0],
    "react/state-in-constructor": [0]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
